@font-face {
  font-family: myFirstFont;
  src: url("assets/fonts/DS-DIGI.TTF");
}
/* Base CSS */
.alignleft {
  float: left;
  margin-right: 15px;
}
.alignright {
  float: right;
  margin-left: 15px;
}
.aligncenter {
  display: block;
  margin: 0 auto 15px;
}
a:focus,
input:focus,
textarea:focus,
button:focus {
  outline: 0 solid;
}
img {
  max-width: 100%;
  height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 15px;
  font-weight: 700;
}
html,
body {
  height: 100%;
  background: #228b22;
  font-family: "Raleway", sans-serif;
}
a:hover {
  text-decoration: none;
}

.clock-area {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1000px;
  margin: 0 auto;
}
.clock {
  background: #262626;
  padding: 14px 30px;
  box-shadow: 0 8px 14px 1px #000;
}
.text {
  color: #fff;
}

.text span {
  color: yellow;
}

.text p {
  font-size: 27px;
}

.text h1 {
  font-size: 50px;
}

.clock-heading,
.clock span {
  font-family: "myFirstFont", sans-serif;
}
.clock span {
  color: #fff;
  font-weight: 700;
  font-size: 100px;
}

.clock span.divider {
  color: #000;
}
span#ampm {
  color: yellow;
  font-size: 50px;
}
